<div id="app"></div>

{% if vite_port %}
    <script type="module" src="http://localhost:{{ vite_port }}/@vite/client"></script>
    <script type="module" src="http://localhost:{{ vite_port }}/src/index.tsx"></script>
{% endif %}